/node_modules
/public/build
/public/hot
/public/storage
/public/css/
/public/js/
/storage/*.key
/storage/framework/
/bootstrap/cache/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/mix-manifest.json
